
<body>

  

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Add Banner</h1>
      
    </div><!-- End Page Title -->

    <section class="section ">
    
      <div class="row g-3">
        <div class="col-lg-6">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">  </h5>

              <!-- General Form Elements -->
              <form action="/admin/addbanner" onsubmit="return addFormValidate()" name="addBannerForm" method="post" enctype="multipart/form-data" >
                <div class="row mb-3">
                  <label for="inputText" class="form-label">Banner Name</label>
                  <div class="col-sm-10">
                    <input type="text" name="banner" class="form-control">
                     <label class="text-danger" id="nameValidate"></label>
                  </div>
                </div>
                

                 <div class="row mb-3">
                  <label for="inputText" class="form-label">Discription</label>
                  <div class="col-sm-10">
                    <textarea class="form-control" name="discription" style="height: 100px"></textarea>  
                     <label id="discriptionValidate" class="text-danger" ></label>
                    {{!-- <input type="text" name="discription"  class="form-control"> --}}
                  </div>
                </div>

                {{!--  --}}

                
                <div class="row mb-3">
                  <label for="input-group" class="form-label">File Upload</label>
                  <div class="col-sm-10">
                    <input class="form-control" name="images" type="file" >
                     <label id="imageValidate" class="text-danger" ></label>
                  </div>
                </div>
                
                <div class="row mb-3">
                  <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit </button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

            </div>
          </div>

        </div>

      
      </div>
      
    </section>

  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/vendor/chart.js/chart.min.js"></script>
  <script src="/admin-assets/vendor/echarts/echarts.min.js"></script>
  <script src="/admin-assets/vendor/quill/quill.min.js"></script>
  <script src="/admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/admin-assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/admin-assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/admin-assets/js/main.js"></script>

  
<script>


function addFormValidate(){

    let name = document.forms["addBannerForm"]["banner"].value
    let discription = document.forms["addBannerForm"]["discription"].value
    let image =document.forms["addBannerForm"]["images"].value
  
    
    
    if(name == "" ||name.trim() == "" ){
      document.getElementById('nameValidate').innerHTML = "Name Must be Filled"
      return false
    }else if(discription == ""|| ||discription.trim() == "" ){
      console.log("hellooooo")
      document.getElementById('discriptionValidate').innerHTML = "Discription Must be Filled"
      return false
    }else if(image = "No file chosen"){
      document.getElementById("imageValidate").innerHTML = "Image should be Added"
      return false
    }
}

</script>

</body>

