<body style="background-color: rgb(240, 240, 240);">
<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                {{#if errMsg}}
                <p class="text-center text-danger">{{errMsg}}</p>
                {{/if}}
                <form class="mx-1 mx-md-4" action="/signup" method="post">

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <p id="error-name" class="text d-flex justify-content-center" style="color: red;"></p>
                      <input type="name" onkeyup="validateName()" name="name" id="name" class="form-control"
                        placeholder="Your name" />


                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <p id="error-mail" class="text d-flex justify-content-center" style="color: red;"></p>
                      <input type="email" id="mail" onkeyup="validEmail()" name="email" class="form-control"
                        placeholder="Email"/>


                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-1">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <p id="phoneError" class="text d-flex justify-content-center" style="color: red;"></p>
                      <input type="Phone" name="phone" onkeyup="validPhoneumber()" id="phoneNo" class="form-control"
                        placeholder="Phone Number" />


                    </div>
                  </div>

                  <div class="">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                      <p id="passwordError" class="text d-flex justify-content-center" style="color: red;"></p>
                      <input type="password" name="password" onkeyup="validPassowrd()" id="password"
                        class="form-control" placeholder="Password" />

                    </div>

                    <div class="">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <input name="userReferal" id="userRefrl" type="text" hidden>
                        <input type="text" name="referral" id="referral" class="form-control"
                          placeholder="Referral Code" />
                        <input type="" name="userId" id="{{user._id}}" value="" hidden>

                      </div>


                    </div>



                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button type="submit" onclick="return validateForm()"
                        class="btn btn-primary btn-lg">Register</button>
                    </div>

                </form>
              </div>
              <div class="">

                <img src="/assets/images/istockphoto-1326561658-612x612.jpg" class="img-fluid" style="width:600px;" alt="Sample image">
                <div class="text-center">
                      <p>All Ready Have an Account ? <a href="/login">Login</a></p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



   


{{!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. --}}



<script>
  var errorName = document.getElementById('error-name')
var errorEmail = document.getElementById('error-mail')
var errorPassword = document.getElementById('passwordError')
var errorPhonenumber = document.getElementById('phoneError')
function validateName() {
    const name = document.getElementById('name').value;
    if (name == "") {
        errorName.innerHTML = 'Enter your Name'
        return false
    }
    if (!name.match(/^[a-zA-Z ]*$/)) {
        errorName.innerHTML = 'Number are not allowed'
        return false
    }
     if (name.match(/^[ ]*$/)) {
        errorName.innerHTML = 'enter a valid name'
        return false
    }
    errorName.innerHTML = null
    return true
}
function validEmail() {
    const email = document.getElementById('mail').value
    if (email == "") {
        errorEmail.innerHTML = "Enter your email address"
        return false
    }
    if (!email.match(/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/)) {
        errorEmail.innerHTML = 'enter a proper email address'
        return false
    }
    errorEmail.innerHTML = null
    return true
}
function validPassowrd() {
    const psd = document.getElementById('password').value
    if (psd == ""||psd.match(/^[ ]*$/)) {
        errorPassword.innerHTML = "Enter a password"
        return false
    }
    if (psd.length < 5) {
       
        errorPassword.innerHTML = "password should be more than four characters"
        return false
    }
    errorPassword.innerHTML = null
    return true
}



 function validPhoneumber() {
    const mob = document.getElementById('phoneNo').value
    if (mob == "") {
        errorPhonenumber.innerHTML = "enter a phonenumber"
        return false
    }
    if(!mob.match(/^[0-9]{10}$/)){
        errorPhonenumber.innerHTML = "Enter valid phone number"
        return false
    }
    errorPhonenumber.innerHTML = null
    return true
}

    function check(){
          let validatearray =[!validateName() , !validEmail() , !validPassowrd() , !validPhoneumber() , !cPassowrd()]

          return validatearray.every(validation)
         

    }



function validateForm() {
    if (!validateName() || !validEmail() || !validPassowrd() || !validPhoneumber() || !cPassowrd()) {
        return false
    }
    return true
}
</script>

</body>