{{!--

<body class="mx-auto">
    <section class="d-flex justify-content-center">
        <div class="container">
            <div class="row mx-auto">
                <div class=" card text-center" style="width: 25rem;height: 120px;">
                    <img class="card-img-top" src="pictures/other-images/success gif.gif" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">SUCCESS</h5>
                        <p class="card-text text-center">Your Order is Placed</p>
                        <a href="/my-account" class="btn btn-success">View Orders</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body> --}}
<style>
    .card {
        margin: 0 auto;
        /* Added */
        margin-top: 250px;

    }

    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
</style>
<div class="mx-auto" style="width: 200px;">
    <div class=" card text-center" style="width: 25rem;height: 120px;">
        <img class="card-img-top" src="pictures/other-images/success gif.gif" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title text-center">SUCCESS</h5>
            <p class="card-text text-center">Your Order is Placed</p>
            <a href="/my-account" class="btn btn-success">View Orders</a>
        </div>
    </div><hr>
</div>
<br><br><br>